<html>
    <head>

    </head>
    <body>
        <div id="myApp"></div>
        <script src="build_gulp/gulp_app.js"></script>
        @*<script>
            var appScript = document.createElement("script");
            appScript.src = "build_webpack/webpack_app.js?v=" + Date.now();
            document.head.appendChild(appScript);
        </script>*@
    </body>
</html>
