<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>React Test Site</title>
</head>
<body>
    <div id="myApp"></div>
    
    <script src="build_webpack/webpack_app-243cfbf5c37402ad6191.js"></script>
    
</body>
</html>